<h1>Events lists</h1>
<%= link_to "Create new event", new_event_path %>
<br>

<% @events.each_with_index do |event, index| %>    
    <h2><%= "Event no. #{format("%02d", (index + 1).to_s)} #{event.title}" %></h2>
    <div><%= link_to 'Show event details', event_path(event) %></div>
    <br>
<% end %>
