<div class="p-10">
  <h1>Event details</h1>
  <div>
    <%= render 'event', event: @event %>
    <div class="flex">
      <div class="mb-3"><%= link_to 'Edit event', edit_event_path(@event), class: 'btn-1 py-1 no-underline mb-6' %></div>
      
      <%= button_to 'Delete event', event_path(@event), class: 'btn-2 mb-3 ml-3', 
      method: :delete, data: {turbo_confirm: "Are you sure?"} %> 
      
      <div class="mb-3"><%= link_to 'Back', events_path, class: 'btn-3 py-1 ml-3 no-underline' %></div>
  </div>
</div>  