<h1 class="mb-6 text-center">Event details</h1>
<div>
  <%= render 'event', event: @event %>
  <div class="flex mt-5">
    <% if current_user.id == @event.user.id %>
      <div class="mb-3"><%= link_to 'Edit event', edit_event_path(@event), class: 'btn-1 py-1 no-underline mr-3' %></div>
      
      <%= button_to 'Delete event', event_path(@event), class: 'btn-2 mb-3 mr-3', 
      method: :delete, data: {turbo_confirm: "Are you sure?"} %> 
    <% end %>
    
    <div class="mb-3"><%= link_to 'Back', events_path, class: 'btn-3 py-1 no-underline' %></div>
  </div>
</div>
