<div class="ml-5">
<h2 class="font-bold text-4xl">Event details</h2>

<%= render 'event', event: @event %>

<%= button_to 'Edit event', edit_event_path(@event), method: :get, class: 'btn-1' %>
<div class="">
<%= button_to 'Delete event', event_path(@event), class: 'btn-2', 
method: :delete, data: {turbo_confirm: "Are you sure?"} %> 
</div>
<%= button_to 'Back', events_path, method: :get, class: 'btn-3' %>
</div>